<!-- <div *ngFor="let item of [1,2,3,46,5423]">
  <p>Number is: {{item}}</p>
</div> -->

<div *ngFor="let p of products let i=index">
  <!-- <p>{{ i+1 }}</p> -->
  <div class="products-container" [ngStyle]="{backgroundColor: p.available === 'Available' ? '#90EE90' : '#FF7276'}">
    <div class="image-container"><img [src]="p.image" style="max-height: 50px; max-width: 50px" /></div>
    <div>
      <div class="name-conatainer"><h5>{{p.name}}</h5></div>
      <div class="detailContainer">
        <div class="detais" [ngStyle]="{color: p.available === 'Available' ? 'Green' : 'Red'}">{{p.available}}</div>
        <div class="detais"><b>Price:</b>${{ p.price}}</div>
        <div class="detais"><b>Color:</b>{{ p.color}}</div>
      </div>
    </div>
    <div class="option">
      <button class="btn btn-danger" style="background-color: rgb(39, 235, 39);" >Show Details</button>
      <button class="btn btn-danger" style="background-color: yellow;" *ngIf="p.available ==='Available'; else notifyme">Buy Now</button>

      <ng-template #notifyme>
        <button class="btn btn-danger" style="background-color: rgb(255, 74, 74);" >Notify Me</button>
      </ng-template>
      
    </div>
    
  </div>
</div>
